<!-- Лапука Павел БИУ-22-01 -->
 <!DOCTYPE html>
<html>
<head>
  <title>Vue 3 Лапука</title>
  <script src="https://unpkg.com/vue@3"></script>
  <link rel="stylesheet" href="style(p2t1).css">
</head>
<body>
  <div id="app">
    <div class="container"> 
      <h1>{{ message }}</h1>
      <button @click="changeMessage">Нажми меня!</button>

      <div class="counter-section">
        <h2>Счётчик: {{ counter }}</h2>
        <button @click="increment">+</button>
        <button @click="decrement">-</button>
        <button @click="reset">Сброс</button>
      </div>

      <div class="input-section">
        <input type="text" v-model="userInput">
        <p>Вы ввели: {{ userInput }}</p>
      </div>

      <div class="todo-section">
        <h3>Список задач:</h3>
        <input type="text" v-model="newTask">
        <button @click="addTask">Добавить задачу</button>
        <ul>
          <li v-for="(task, index) in tasks" :key="index" class="task-item">
            <span class="task-number">{{ index + 1 }}. </span>
            <span class="task-text">{{ task }}</span>
            <button @click="deleteTask(index)" class="delete-button">Удалить</button>
          </li>
        </ul>
      </div>
    </div> 
  </div>

  <script>
 const { createApp } = Vue;

createApp({
  data() {
    return {
      message: 'Привет, Vue!',
      counter: 0,
      userInput: '',
      newTask: '',
      tasks: []
    };
  },
  methods: {
    changeMessage() {
      this.message = 'Вы нажали на кнопку!';
    },
    increment() {
      this.counter++;
    },
    decrement() {
      if (this.counter > 0) {
        this.counter--;
      }
    },
    reset() {
      this.counter = 0;
    },
    addTask() {
      if (this.newTask.trim() !== '') {
        this.tasks.push(this.newTask);
        this.newTask = '';
      }
    },
    deleteTask(index) {
      this.tasks.splice(index, 1);
    }
  }
}).mount('#app');
</script>
</body>
</html>
